<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.usc0der.ydprojectnew">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission
        android:name="android.permission.WRITE_SETTINGS"
        tools:ignore="ProtectedPermissions" />

    <application
        android:name=".api.di.MyHiltApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.YDProject"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".ui.MediaVideoActivity"
            android:exported="false" />
        <activity android:name=".ui.DictionaryActivity" />
        <activity android:name=".ui.HistoryTestActivity" />
        <activity android:name=".ui.QuizQuestionsActivity" />
        <activity android:name=".ui.ResultsActivity" />
<!--        <activity-->
<!--            android:name=".ui.TestActivity"-->
<!--            android:exported="false" />-->

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.usc0der.ydprojectnew.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths_app" />
        </provider>

        <activity android:name=".ui.PdfViewActivity" />
        <activity android:name=".auth.TestActivityActivity" />
        <activity
            android:name=".ui.SettingsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.PlayerActivity"
            android:configChanges="orientation|screenSize|screenLayout|smallestScreenSize"
            android:resizeableActivity="true"
            android:supportsPictureInPicture="true" /> <!-- android:screenOrientation="portrait" -->
        <activity
            android:name=".auth.RegistrationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".auth.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.MediaActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SplashActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.YDProject.NoActionBar"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".api.network.FirebaseService"
            android:permission="com.google.android.c2dm.permission.SEND"
            tools:ignore="WrongManifestParent"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
                <action android:name="com.google.android.c2dm.permission.RECEIVE" />
            </intent-filter>
        </service>
    </application>

</manifest>